doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='manifest', href='manifest.json')
        title D.O.D
        link(rel='stylesheet', href='/css/dod.css')
    body
        div(style='overflow:scroll;')
            #stage(style='margin:1rem;')
        script(src='//cdnjs.cloudflare.com/ajax/libs/EventEmitter/5.2.4/EventEmitter.min.js')
        script(src='//cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js')
        script(src='//cdnjs.cloudflare.com/ajax/libs/howler/2.0.7/howler.min.js')
        script(src='js/pixi.min.js')
        script(src='/js/dod.js')
